.banner {
    text-align: center;
    padding: 1rem 0;
    border-bottom: 1px solid #dee2e6;
    width: 100%;
    position: relative;

    img {
        width: 90%;
        max-width: 1200px;
        height: 250px;
        object-fit: cover;
        border-radius: 8px;
    }

    h1 {
        color: #ffffff;
        margin-bottom: 0.5rem;
        font-size: 2rem;
        position: relative;
        z-index: 1;
    }

    p {
        color: #ffffff;
        font-size: 1.1rem;
        position: relative;
        z-index: 1;
    }
}